@charset 'UTF-8';


@font-face {
    font-family:"android" ;
    src: url(fontes/idroid.otf);
    
}

 /* ------------------ Estrutura e menus ---------------------*/

body{
    
    background-color: #96C996;
    margin: 0;
    width: auto;
   
}

header {

    text-shadow: 2px 2px 1px black;

    font-size: 26px;

    background-image: linear-gradient(to bottom, #96C996, #2F732F, #114711);

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    text-align: center;

    padding: 10px; 

    color: rgba(255, 251, 251, 0.87);


}

nav{
    text-align: left;
    font: normal normal 18px "Arial, sans-serif";
}

main{
    align-self: center;
    margin: auto; 
    max-width: 1200px;     
    padding: 10px;    
    background-color: rgb(255, 255, 255);
    
}

footer{
    text-align: center;
    background: rgb(0, 80, 0);
    color: white;
    font: normal normal 6px Arial,sans-serif;
    padding: 1px;
}

nav{
    text-align: left;
    max-width: auto;
    background-color: #144614;
}

.imageContainer{
    text-align: center;
}
    


        /* ------------------ Estrutura e menus ---------------------*/


       /* ------------------ Paragrafos, letras e links -------------- */


h1#principalTema{
    font-family: "android";
    text-align: left;
    font-size: 52px;
    color: rgba(3, 99, 3, 0.685);
}

h2#subHeader{
    font: normal normal 20px "Arial, sans-serif";
}


h2.tema{
    font: normal normal 44px "Arial, sans-serif";
    text-align: left;
    color: #053805a8;
    background-image: linear-gradient(to right, #96c9967e, #2f732f4f, #ffffff);
}

p{
    font: normal normal 22px "Arial, sans-serif";
    text-indent: 20px;
    padding: 4px;
    
}

a.menu{
    color: #f8f8f8;
    padding-right: 15px;
    text-decoration: none;
}

a{
    font-weight: bold;
    color: #2F732F;
}

article.aprenderMais{
    background-color: #2f732f71;
    padding-bottom: 100px;
    border-radius: 15px;
}

h1#querAprender{
    text-align: left;
    background-color: #2F732F;
    color: white;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
}

div.list{
    display: inline-block;
    margin-left: 100px;
    font-size: 26px;
}
p#paragrafoFinal{
    text-align: center;
}

a.linkFooter{
    color: white;
}

.videoContainer{
    background-color: #144614;
    text-align: center;
}

/* ------------------ Paragrafos, letras e links -------------- */

/* ------------------ Ações  -------------- */


nav > a:hover{
    background-color: rgba(255, 255, 255, 0.596);

}


.list1{
    display: inline-block;
    padding: 5px;
    font-size: 28px;
    align-self: right;
    margin-right: 205px;
}
